
/**
 * @name JJK
 * @author _snydÎžX
 * @version 1.0.28
 * @description Mod
 */

@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css');
@import url('https://raw.githack.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/master/Themes/GGO_Kirito/core.css');

:root{
    --background: url('https://i.postimg.cc/QM9K4j2w/wallpapersden-com-satoru-gojo-x-sukuna-hd-jujutsu-kaisen-epic-art-1927x1080.png');
    --activetext-colour: white;

    --primary1-colour: red;
    --primary2-colour: rgba(255,0,0,0.5);
    --primary3-colour: rgba(100,0,0,0.6);

    --secondary1-colour: rgba(50,50,50,0.3);
    --secondary2-colour: rgba(100,100,100,0.5);
    --secondary3-colour: rgba(0,0,0,0.5);

    --transparency-1: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-2: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-3: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-4: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-5: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}

